.App {
  text-align: center;
}

.App-header {
  background-color: #a3bce2;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 20px;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 50px;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}
.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 25px 50px 30px 30px;
  max-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  font-size: 20px;
  color: rgb(161, 15, 15);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

input[type="submit"] {
  padding: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 100px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
}
/* Movie */
.card-title {
  color: blue;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
}
button {
  padding: 10px;
  background-color: dodgerblue;
  color: black;
  border: 1px solid black;
  width: 100px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  margin-top: 15px
}
input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}

.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}